<div>
	<legend> Зацікавлені сторони проекту: </legend>
			<table class="table">
					<tr class="" ng-repeat="stake in projectStakeHolders"> 
						<td ng-click="setCurrentStakeHolder(stake)">{{stake.name}}</td>
						<td ng-class="{'red' : stake.factors.length == 0}">факторів: {{stake.factors.length}}</td>
						<td><button class="btn btn-success" >Заповнити</button></td>
						<td><button class="btn btn-primary" ng-click="autoFill(stake)" >Автоматично заповнити</button></td>
						<td><button class="btn btn-danger op" ng-click="deleteStakeHolder(stake)" >
						<span class="glyphicon glyphicon-remove" ></span>
						</button></td>				
					</tr>
				
			</table>
</div>