
<div class="section2 factorsChanging" ng-show="stage1Finished" >
		
			<legend>Визначення вимог сторін</legend>

	<form class="form-horizontal" style="width:500px">
    
    <div class="form-group">
        <label for="inputPassword" class="control-label col-xs-2">Опис Вимоги</label>
        <div class="col-xs-10">
            <input type="text" ng-model="currentStakeHolder.factors[ind].descr" class="form-control" id="inputPassword" placeholder="опис вимог">
        </div>
    </div>


	<div class="form-group">
        <label for="inputPassword" class="control-label col-xs-2">Інтерес</label>
        <div class="col-xs-10">
            <input type="text" class="form-control" ng-model="currentStakeHolder.factors[ind].interest" id="inputPassword" placeholder="інтерес">
        </div>
    </div>

	<div class="form-group">
        <label for="inputPassword" class="control-label col-xs-2">Рівень впливу</label>
        <div class="col-xs-10">
            <input type="text" ng-model="currentStakeHolder.factors[ind].impact" class="form-control" id="inputPassword" placeholder="Рівень впливу">
        </div>
    </div>


    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
            <button type="submit" class="btn btn-primary" ng-click="saveFactorMeasures()">Зберегти</button>
            <button type="submit" ng-click="nextFactor()" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"></span></button>
            <button type="submit" ng-click="prevFactor()" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-right"></span></button>
            
        </div>
    </div>
</form>




		
</div>